<div class="menu">
  <ul class="menu-list">
    <li><a href="http://localhost:51503/">Home</a></li>
    <li>
      <a href="#">Comprar</a>
       <ul class="sub-menu">
        <li><a href="#">Carros</a></li>
        <li><a href="#">Motos</a></li>
        <li><a href="#">Utilitários</a></li>
        <li><a href="#">Caminhões</a></li>
      </ul>
    </li>
      <li><a href="#">Vender</a></li>
      <li>
      <a href="#">Peças e Acessorios</a>
      <ul class="sub-menu">
          <li><a href="#">Carros</a></li>
          <li><a href="#">Motos</a></li>
          <li><a href="#">Utilitários</a></li>
          <li><a href="#">Caminhões</a></li>
      </ul>
          </li>
      <li>
          <a href="#">Serviços</a>
      
      <ul class="sub-menu">
          <li><a href="#">Carros</a></li>
          <li><a href="#">Motos</a></li>
          <li><a href="#">Utilitários</a></li>
          <li><a href="#">Caminhões</a></li>
      </ul>
          </li>
      <li><a href="#">Anuncie</a>
          <ul class="sub-menu">
              <li><a href="http://localhost:51503/Loguin">Loguin</a></li>
              <li><a href="http://localhost:51503/Cadastro">Cadastro</a></li>
          </ul>
      </li>

  </ul>
</div>
